@using bisSport.Domain.Helpers
@using bisSport.Server.Repository
@model bisSport.Domain.Core.SportType

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

    <hr />

<div>Вид спорта: @Model.SportKind.GetDescription()</div>
<div>Чистое время: @Html.DisplayFor(x => x.CleanTime)</div>
<div>Продолжительность матча: @Model.GameDuration</div>
<div>Чистое время матча: @Model.CleanGameDuration</div>
<div>Статус записи: @Model.Status.GetDescription()</div>

